<div class="envvariable-container">
  <mat-card>
    <div>
      <mat-toolbar>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
          <div>Environment Variables</div>
          <div class="mat-subheading-2">
            Environment:{{ environmentModel?.name }}
          </div>
        </div>
        <span class="global-spacer"></span>
        <button
          mat-mini-fab
          color="primary"
          class="margin-right"
          aria-label="Example icon button with a delete icon"
          (click)="refresh()"
        >
          <mat-icon>refresh</mat-icon>
        </button>
        <button mat-raised-button color="primary" [matMenuTriggerFor]="actions">
          Actions
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #actions="matMenu">
          <button mat-menu-item (click)="createEnvironmentVariable()">
            Add
          </button>
          <button
            mat-menu-item
            (click)="delete()"
            [disabled]="selection.selected.length !== 1"
          >
            Delete
          </button>
          <button
            mat-menu-item
            (click)="update()"
            [disabled]="selection.selected.length !== 1"
          >
            Edit
          </button>
        </mat-menu>
      </mat-toolbar>
    </div>
    <div>
      <div class="envvariable-table">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox
                (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
                [aria-label]="checkboxLabel()"
              >
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"
                [aria-label]="checkboxLabel(row)"
              >
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="key">
            <th mat-header-cell *matHeaderCellDef>Key</th>
            <td mat-cell *matCellDef="let element">{{ element.key }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef>Value</th>
            <td mat-cell *matCellDef="let element">{{ element.value }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let element">{{ element.type }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="createdon">
            <th mat-header-cell *matHeaderCellDef>Created On</th>
            <td mat-cell *matCellDef="let element">
              {{ moment(element.createdon).fromNow() }}
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            (click)="selection.toggle(row)"
          ></tr>
          <!-- Row shown when there is no matching data that will be provided to the wrapper table. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data</td>
          </tr>
        </table>
      </div>
    </div>
    <mat-paginator
      [length]="100"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
    >
    </mat-paginator>
  </mat-card>
</div>
