<div class="modelcontainer">
  <mat-card>
    <form [formGroup]="testplanform">
      <mat-dialog-content>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div fxFlex="100%">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Testplan Name</mat-label>
              <input
                matInput
                type="text"
                formControlName="name"
                placeholder="name"
                autocomplete="off"
              />
              <button
                *ngIf="testplanform.controls['name'].value"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="testplanform.controls['name'].reset()"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput formControlName="comments"></textarea>
          </mat-form-field>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close [mat-dialog-close]="true">
          Cancel
        </button>
        <button
          mat-raised-button
          cdkFocusInitial
          color="primary"
          [disabled]="!testplanform.valid"
          (click)="createTestplan()"
        >
          Save
        </button>
      </mat-dialog-actions>
    </form>
  </mat-card>
</div>
