.global-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

.environment-table {
  margin-top: 10px;
  max-height: 550px;
  overflow: auto;
}

.margin-right {
  margin-right: 10px;
}

.environment-container {
  margin-right: 20px;
  margin-left: 10px;
}
